@use '../base/settings' as *;

.dashboard {
    width: 100vw;
    margin: $xl-size;
    overflow-x: hidden;
    padding: 0 $s-size;
}

@media (max-width: $breakpoint-mobile) {
    .dashboard {
        margin: 0 1rem;
        padding: 0;
    }
}