@use '../base/settings' as *;

.movie-details {
    &__body {
        display: flex;
    }

    &__hero {
        max-width: 100vw;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__overview {
        max-width: 56%;
    }

}